.page-header{
    position:fixed;
    z-index: 1000;
    /*right:1%;*/
    top:2%;
    left:10%;
}

.user_saved_location{
    border: 1px solid #000;
    display: none;
    height: 90%;
    position: fixed;
    width: 90%;
    z-index: 1000;
    margin-left: 5%;
    margin-top: 3%;
    background-color: #fff;
}

.close_btn{
    float:right;
    padding:1%;
}

.user_saved_location .result_loc{
    height: 84%;
    overflow: scroll;
    padding: 20px;
}

.user_saved_location .result_loc .title{
}